x-airflow-common-env: &airflow-common-env
  # Основные настройки Airflow 3
  AIRFLOW__CORE__EXECUTOR: LocalExecutor
  AIRFLOW__CORE__FERNET_KEY: ""
  AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: "true"
  AIRFLOW__CORE__LOAD_EXAMPLES: "false"

  # Auth manager (SimpleAuth, как в доках)
  # Если в .env ничего не укажешь — возьмётся дефолт SimpleAuthManager
  AIRFLOW__CORE__AUTH_MANAGER: ${AIRFLOW__CORE__AUTH_MANAGER:-airflow.api_fastapi.auth.managers.simple.simple_auth_manager.SimpleAuthManager}
  AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_USERS: ${AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_USERS}

  # Бэкенд БД — именно [database], НЕ [core]
  AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow

  # URL API-сервера для воркеров/экзекьютора
  # (по умолчанию http://localhost:8080, но в докере надо сервис)
  AIRFLOW__CORE__EXECUTION_API_SERVER_URL: "http://airflow-api-server:8080"
  AIRFLOW__WORKERS__EXECUTION_API_SERVER_URL: "http://airflow-api-server:8080"

  # Просто побольше логов
  AIRFLOW__LOGGING__LOGGING_LEVEL: "INFO"

services:
  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-data:/var/lib/postgresql/data

  # API server + UI (новый web в Airflow 3)
  airflow-api-server:
    build: .
    image: my-airflow:3.1.3
    depends_on:
      - postgres
    user: "${AIRFLOW_UID:-50000}:${AIRFLOW_GID:-0}"
    environment:
      <<: *airflow-common-env
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
    ports:
      - "8080:8080"
    command: >
      bash -c "
      airflow db migrate &&
      exec airflow api-server
      "

  # Отдельный процессор DAG'ов (обязателен в Airflow 3)
  airflow-dag-processor:
    image: my-airflow:3.1.3
    depends_on:
      - postgres
      - airflow-api-server
    user: "${AIRFLOW_UID:-50000}:${AIRFLOW_GID:-0}"
    environment:
      <<: *airflow-common-env
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
    command: [ "airflow", "dag-processor" ]

  # Планировщик (LocalExecutor)
  airflow-scheduler:
    image: my-airflow:3.1.3
    depends_on:
      - postgres
      - airflow-api-server
      - airflow-dag-processor
    user: "${AIRFLOW_UID:-50000}:${AIRFLOW_GID:-0}"
    environment:
      <<: *airflow-common-env
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
    command: [ "airflow", "scheduler" ]

volumes:
  postgres-data:
